body {
	background: url(img/bg.png);
	font-family: 'Open Sans', sans-serif;
}
.clearfix {
	clear: both;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
#posts {
	width: 650px;
	float: left;
}
	.article {
		width: 630px;
		float: left;
		padding: 10px;
		background: #FFF;
		margin-bottom: 20px;
	}
#sidebar {
	width: 320px;
	float: right;
}
	.widget {
		background: #FFF;
		width: 300px;
		padding: 10px;
		float: left;
		margin-bottom: 20px;
	}
	.widget h3 {
		font-weight: 300;
		text-transform: uppercase;
		padding: 10px 0px;
		color: #000;
	}
	.fb-like {
		margin-top: 5px;
	}
	.fb-facepile {
		margin: 15px 0px;
	}
	#reviews ul {
		margin-top: 10px;
	}
	#reviews li {
		margin-bottom: 2px;
	}
	#reviews a {
		padding: 10px;
		display: block;
		background: #E6E6E6;
		text-decoration: none;
		color: #000;
		font-size: 0.9em;
		font-weight: 300;
		-webkit-transition: background 200ms linear;
		-moz-transition: background 200ms linear;
		-ms-transition: background 200ms linear;
		-o-transition: background 200ms linear;
		transition: background 200ms linear;
	}
	#reviews a:hover {
		background: #CCC;
	}
	#tab li {
		display: inline-block;
		font-size: 0.8em;
	}
	#tab li a {
		display: block;
		padding: 10px;
	}