@media (max-width: 480px) {
}
 
@media (max-width: 767px) {
}
 
@media (min-width: 768px) and (max-width: 979px) {
}

@media (min-width: 980px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#banner {
	margin-top: 10px;
}
#header {
	margin-top: 30px;
	margin-bottom: 30px;
}
.aligncenter {
	text-align: center;
}